@font-face {
  font-family: "iconfont"; /* Project id 2560108 */
  src: url('//at.alicdn.com/t/font_2560108_4jkolbyr59d.woff2?t=1621482609024') format('woff2'),
       url('//at.alicdn.com/t/font_2560108_4jkolbyr59d.woff?t=1621482609024') format('woff'),
       url('//at.alicdn.com/t/font_2560108_4jkolbyr59d.ttf?t=1621482609024') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-print:before {
  content: "\e67a";
}

.icon-browse:before {
  content: "\e666";
}

.icon-download:before {
  content: "\e66c";
}

.icon-fullscreen-expand:before {
  content: "\e675";
}

.icon-refresh:before {
  content: "\e67b";
}

.icon-zoom-in:before {
  content: "\e683";
}

.icon-zoom-out:before {
  content: "\e684";
}